{% extends 'base.html' %}
{% block title %}Covid Vaccine Tracker{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('home')}}"><i class="fas fa-syringe"></i> &nbsp;Covid Vaccine Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('monitor')}}">Monitoring</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="{{url_for('sched')}}">Schedule Vaccine</a>
        </li>
       <li class="nav-item">
         <a class="nav-link" href="{{url_for('done')}}">Done/Canceled Vaccine</a>
       </li>  
       <li class="nav-item">
         <a class="nav-link" href="{{url_for('chart')}}">Monitoring Chart</a>
       </li>  
       <li class="nav-item">
        <a class="nav-link" href="{{url_for('covid')}}">Facts About Covid</a>
       </li>  
       <li class="nav-item">
        <a class="nav-link" href="{{url_for('about')}}">About</a>
      </li>
      </ul>
    </div>
    <div class="d-flex">
     <a class="nav-link" style="color: #fff !important;" href="{{url_for('index')}}"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </div>
  </div>
 </nav>
<div class="mx-4" style="display: flex; justify-content: center; margin-top: 100px;">
 <div class="card" style="width: 1000px;">
  <div class="card-header">
    Other Information
  </div>
  <div class="card-body">
    <h5 class="card-title">ID Number: {{id}}</h5>
    <h4>Name {{fname}} {{lname}}</h4>
    <ul>
     <li><b>Age:</b> {{age}} y/o</li>
     <li><b>Address:</b> {{address}}</li>
     <li><b>City:</b> {{city}}</li>
     <li><b>Mobile No.:</b> {{mobnum}}</li>
     <li><b>Sex:</b> {{sex}}</li>
     <li><b>Dose:</b> {{dose}}</li>
    </ul>   
  </div>
 </div>
</div>
{% include 'footer.html' %}
{% endblock %}